<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/landing.css?{{ id }}">
    <title>ABOUT US</title>
</head>
<body>
  <header>
    <span>EasyBuy</span>
  </header>
  <div>
    <section class="intro">
      <h1>Your Home <span>Of</span> <span>Quality Phones</span></h1>
      <h3>Looking for your next phone? <a href="/phones">SHOP WITH US</a></h3>
      <p>We got you covered.</p>
  </div>
  </section>
  <section class="what-we-offer">
    <h3>Next Day Air</h3>
    <img src="/static/images/shipping.png" alt="shipping">
    <p>Shop With Us Today and Get Your Phone Tommorow</p>
  </section>
  <section class="what-we-do">
    <p>We deliver across All 10 regions of Ghana.</p>
    <img src="/static/images/locations.jpg" alt="location map">
  </section>
</body>
</html>