{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/styles/phones.css?{{id}}">
{% endblock %}

{% block aside %}
<!--                                 brands                          -->
<div class="brands">
  <h2>Brand</h2>
  {% for brand in brands %}
  <div class="brand">
  <input type="checkbox" data-id="{{ brand.id }}" disabled><strong>{{brand.name}}</strong>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block content %}
<!--                                 phones container                  -->
<div class="phones-container">
  {% for phone in phones %}
  <!--                               phone                            -->
  <a href="/phones/{{ phone.id }}">
    <article class="phone" data-id="{{ phone.id }}">
      <!--                           price                            -->
      <span class="price">${{phone.price}}</span>
      <!--                           image container                  -->
      <div class="img-container">
      <!--                           image                            -->
        {% if phone.images[0] %}
        <img src="{{ phone.images[0].url }}" alt="{{ phone.images[0].alt_text }}">
        {% else %}
        <img src="" alt="default image">
        {% endif %}
      </div>
      <!--                           description text                  -->
      <div class="phone-description">
      <!--                           phone name                        -->
        <span>{{ phone.name }}</span>
        <!--                         phone description                 -->
        <span>{{ phone.description }}</span>
    </div>
    </article>
  </a>
  {% endfor %}
</div>
{% endblock %}